[Unit]
Description=Elsewhere ATXRaspi monitor
After=network.target

[Service]
ExecStart=/usr/share/elsewhere/atx-monitor/atx-monitor monitor
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
