[Unit]
Description=Splash screen
DefaultDependencies=no
After=local-fs.target

[Service]
ExecStart=/bin/bash /home/pi/projects/elsewhere/splash/set.sh
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=sysinit.target
